.allure {
  background: linear-gradient(270deg, #691a73, #e2ace9);
background-size: 400% 400%;

-webkit-animation: allure 11s ease infinite;
-moz-animation: allure 11s ease infinite;
animation: allure 11s ease infinite;
}

@-webkit-keyframes allure {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes allure {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes allure {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}