body {
  font-family: $font-text;
  margin: $margin 0;
}

.word {
  color: $color-brand;
}

.title {
  li {
    span {
    background-color: #fff;
    displaY: inline-block;
    }
    &:nth-of-type(2n) {
      color: $color-brand;
      }
    }
}

aside {
 display: grid;
 grid-template-rows: 1fr 1fr;
 footer.footer {
  align-self: end;
  font-size: 12px;
  p {
    background-color: #fff;
    margin: 0;
    width: 70%;
  }
 }
}


header.header h1.title {
@include reset(all);
}

ul, ol {
  @include reset(all);
  @include reset(list);
}

.description .title {
    font-size: 60px;
  line-height: 55px;
  padding-bottom: 40px !important;
}

a {
  color: $color-brand;
}

h1, h2, h3, h4, h5, .title {
  font-family: $font-title;
  text-transform: uppercase;
}



.next, .previous {
&:before {
  font-size: 70%;
float: right;
}
}

.next:before {
  content: "next";
}
.previous:before {
  content: "previous";
}

.design {
  z-index: 10000;
  background-color: #fff;
background-image: url(../../images/design.png);
background-size: 1140px 1079px;
background-repeat: no-repeat;
background-position: center 0;
 top: 0;
 left: 0;
 width: 100%;
 height: 1079px;
 position: absolute;

}

.limit {
    @include tile(lines-down-c, white, 5);
    content: "";
    display: block;
    position: fixed;
    height: $margin;
    width: 100%;
    z-index: 100;
    .row *:before {
      display: block;
      background-color: black;
      content: "";
      height: 10px;
    }
  &.up {
    top: 0;
  }
  &.down {
    bottom: 0;
  }
}