body {
  font-family: map-get($font, text);
  margin: $margin 0;
  background-color: map-get($color, bg);
}

.word {
  color: map-get($color, brand);
}

.container {
  max-width: $container;
}

.title {
  li {
    span {
    background-color: #fff;
    displaY: inline-block;
    }
    &:nth-of-type(2n) {
      color: map-get($color, brand);
      }
    }
}

aside {
 display: grid;
 grid-template-rows: 1fr 1fr;
 .title a {
  color: map-get($color, fg);
  div {
    background-color: map-get($color, bg);
    display: inline-block;
  }

  span {
    color: map-get($color, brand);
  }
 }
 footer.footer {
  align-self: end;
  font-size: map-get($font-size, sig);
  p {
    margin: 0;
    width: 70%;
    margin-bottom: 15px;
  }
 }
}


header.header h1.title {
@include reset(all);
}

ul, ol {
  @include reset(all);
  @include reset(list);
}


.description, aside {
  .title {
    font-size: map-get($font-size, title);
  line-height: 55px;
  padding-bottom: 40px !important;
}
p {
  background-color: map-get($color, bg);
}
}

aside .title {
    position: fixed;
    width: 200px;

}
a {
  color: map-get($color, brand);
}

h1, h2, h3, h4, h5, .title {
  font-family: map-get($font, title);
  text-transform: uppercase;
}



.next, .previous {
&:after {
  font-size: map-get($font-size, sig);
  margin-left: 5px;
  background-color: map-get($color, brand);
  color: map-get($color, bg);
  padding: 0 5px;
  @include radius(20px);
  font-weight: bold;
}
}

.next:after {
  content: "next";
}
.previous:after {
  content: "previous";
}

.design {
  z-index: 10000;
  background-color: #fff;
background-image: url(../../images/design.png);
background-size: 1140px 1079px;
background-repeat: no-repeat;
background-position: center 0;
 top: 0;
 left: 0;
 width: 100%;
 height: 1079px;
 position: absolute;

}

.limit {
    @include tile(lines-down-c, white, 5);
    content: "";
    display: block;
    position: fixed;
    height: $margin;
    width: 100%;
    z-index: 100;
    .row *:before {
      display: block;
      background-color: map-get($color, fg);
      content: "";
      height: 10px;
    }
  &.up {
    top: 0;
  }
  &.down {
    bottom: 0;
  }
}