.collapse-body {
 .collapse-toggle {
  border-top: solid 5px map-get($color, fg);
  display: block;
  &:before {
    content: "";
    display: block;
    background-color: map-get($color, fg);
    height: 10px;
    width: 20%;
    margin-top: -10px;
  }
  .title {
    display: inline-block;
    margin: 10px 0 !important;
    background-color: #fff;
    li {
      display: inline;
      color: map-get($color, fg);

      font-size: map-get($font-size, subtitle);
      &:nth-of-type(2n) {
        color: map-get($color, brand);
      }
    }
  }
}
  &:nth-of-type(2) .collapse-toggle:before {
margin-left: (100% / 5);
  }
    &:nth-of-type(3) .collapse-toggle:before {
margin-left: ((100% / 5) * 2) ;
  }
    &:nth-of-type(4) .collapse-toggle:before {
margin-left: ((100% / 5) * 3);
  }
    &:nth-of-type(5) .collapse-toggle:before {
margin-left: ((100% / 5) * 4);
  }
  .collapse {
.content {
     padding-bottom: 20px;
     background-color: map-get($color, bg);
  }
}
}