.collapse-group {
  background-color: rgba(map-get($color, bg), .4);
  margin-bottom: 45px;
}
.collapse-body {
  &:hover, &.opened {
    .collapse-toggle .description {
      height: 50px;
    }
  }
  .collapse-toggle {
    border-top: solid 5px map-get($color, fg);
    display: block;
    margin: 10px 0 !important;
    &:before {
      content: "";
      display: block;
      height: 10px;
      width: 20%;
      background-color: map-get($color, fg);
      margin-top: -10px;
    }
    .description {
      display: block;
      color: map-get($color, fg);
      background-color: map-get($color, bg);
      line-height: 130%;
      height: 0;
      overflow: hidden;
      @include transition;
    }
    &:hover {
      text-decoration: none;
    }
    .title {
      display: inline-block;

      background-color: map-get($color, bg);
      li {
        display: inline;
        color: map-get($color, fg);
        font-size: map-get($font-size, subtitle);
        &:nth-of-type(2n) {
          color: map-get($color, brand);
        }
      }
    }
  }
  &:nth-of-type(2) .collapse-toggle:before {
    margin-left: (100% / 5);
  }
  &:nth-of-type(3) .collapse-toggle:before {
    margin-left: ((100% / 5) * 2) ;
  }
  &:nth-of-type(4) .collapse-toggle:before {
    margin-left: ((100% / 5) * 3);
  }
  &:nth-of-type(5) .collapse-toggle:before {
    margin-left: ((100% / 5) * 4);
  }
  .collapse {
     margin-bottom: 20px;
      background-color: map-get($color, bg);



}
}