$font: (
  text:  Akrobat-Regular,
  title: Altero-Regular
  );

$pattern: 20px;
$margin: 30px;
$container: 900px;

$font-size: (
  sig: 12px,
  text: .9rem,
  subtitle: 35px,
  title: 60px
  );

$color: (
  fg: #000,
  bg: #fff,
  brand: #691a73
  );